In [17]:
import pandas as pd
import numpy as np
from pathlib import Path
import datetime
import re

1992 Gold Price

In [18]:
file_path_one=Path("Daily_Gold_Price_1992.csv")
gold_92=pd.read_csv(file_path_one,parse_dates=True,infer_datetime_format=True,index_col="Date")

In [73]:
# Clean Gold Data Function.
def clean_data(df):
    df["month"]=df.index.month
    df["day"]=df.index.day
    df["year"]=df.index.year
    df_grp=df.groupby(["year","month","day"]).first()
    df_grp=df_grp.dropna()
    df_grp['Gold Price Fix AM in US dollars per troy ounce'] = df_grp['Gold Price Fix AM in US dollars per troy ounce'].str.replace(r"[a-zA-Z]",'')
    df_grp['Gold Price Fix AM in US dollars per troy ounce'] = df_grp['Gold Price Fix AM in US dollars per troy ounce'].str.replace("$",'')
    df_grp['Gold Price Fix PM in US dollars per troy ounce'] = df_grp['Gold Price Fix PM in US dollars per troy ounce'].str.replace(r"[a-zA-Z]",'')
    df_grp['Gold Price Fix PM in US dollars per troy ounce'] = df_grp['Gold Price Fix PM in US dollars per troy ounce'].str.replace("$",'')
    df_grp['Gold Price Fix AM in US dollars per troy ounce'] = df_grp['Gold Price Fix AM in US dollars per troy ounce'].astype(float)
    df_grp['Gold Price Fix PM in US dollars per troy ounce'] = df_grp['Gold Price Fix PM in US dollars per troy ounce'].astype(float)
    return df_grp.to_csv(f"{df_grp.index[0][0]}_Gold_Monthly")

In [74]:

clean_data(gold_92)

In [19]:
gold_92["month"]=gold_92.index.month

In [20]:
gold_92["day"]=gold_92.index.day

In [21]:
gold_92["year"]=gold_92.index.year

In [22]:
gold_92.head()

,Gold Price Fix AM in US dollars per troy ounce,Gold Price Fix PM in US dollars per troy ounce,month,day,year
Date,,,,,
1992-01-02,$351.20 oz,$350.90 oz,1,2,1992
1992-01-03,$352.40 oz,$353.00 oz,1,3,1992
1992-01-06,$351.15 oz,$349.40 oz,1,6,1992
1992-01-07,$349.30 oz,$349.70 oz,1,7,1992
1992-01-08,$350.30 oz,$350.60 oz,1,8,1992

In [56]:
gold_92_group=gold_92.groupby(["year","month","day"]).first()

In [57]:
gold_92_group

               Gold Price Fix AM in US dollars per troy ounce  \
year month day
1992 1     2                                       $351.20 oz
           3                                       $352.40 oz
           6                                       $351.15 oz
           7                                       $349.30 oz
           8                                       $350.30 oz
           9                                       $351.75 oz
           10                                      $356.65 oz
           13                                      $354.90 oz
           14                                      $353.40 oz
           15                                      $355.60 oz
           16                                      $354.60 oz
           17                                      $357.30 oz
           20                                      $356.60 oz
           21                                      $357.35 oz
           22                                      $356.85 oz
           23                                      $356.55 oz
           24                                      $354.50 oz
           27                                      $354.85 oz
           28                                      $356.30 oz
           29                                      $355.40 oz
           30                                      $356.50 oz
           31                                      $354.15 oz
     2     3                                       $357.10 oz
           4                                       $356.35 oz
           5                                       $354.95 oz
           6                                       $356.25 oz
           7                                       $355.40 oz
           10                                      $354.70 oz
           11                                      $355.25 oz
           12                                      $356.35 oz
...                                                       ...
     11    18                                      $335.40 oz
           19                                      $333.60 oz
           20                                      $335.55 oz
           23                                      $334.25 oz
           24                                      $333.95 oz
           25                                      $334.75 oz
           26                                      $334.65 oz
           27                                      $334.00 oz
           30                                      $333.70 oz
     12    1                                       $334.60 oz
           2                                       $335.10 oz
           3                                       $335.90 oz
           4                                       $335.90 oz
           7                                       $335.50 oz
           8                                       $335.25 oz
           9                                       $333.40 oz
           10                                      $333.90 oz
           11                                      $334.20 oz
           14                                      $335.30 oz
           15                                      $334.70 oz
           16                                      $334.90 oz
           17                                      $337.75 oz
           18                                      $337.15 oz
           21                                      $336.35 oz
           22                                      $334.35 oz
           23                                      $332.55 oz
           24                                      $332.90 oz
           29                                      $332.90 oz
           30                                      $332.30 oz
           31                                      $332.90 oz

               Gold Price Fix PM in US dollars per troy ounce
year month day
1992 1     2                                       $350.90 oz
           3                                       $353.00 oz
           6                                       $349.40 oz
           7                                       $349.70 oz
           8                                       $350.60 oz
           9                                       $351.55 oz
           10                                      $357.90 oz
           13                                      $353.90 oz
           14                                      $353.60 oz
           15                                      $355.55 oz
           16                                      $356.75 oz
           17                                      $355.90 oz
           20                                      $358.75 oz
           21                                      $357.80 oz
           22                                      $356.75 oz
           23                                      $355.20 oz
           24                                      $353.25 oz
           27                                      $356.10 oz
           28                                      $356.30 oz
           29                                      $354.85 oz
           30                                      $356.00 oz
           31                                      $354.10 oz
     2     3                                       $356.40 oz
           4                                       $356.00 oz
           5                                       $354.30 oz
           6                                       $355.95 oz
           7                                       $356.20 oz
           10                                      $354.65 oz
           11                                      $356.00 oz
           12                                      $357.20 oz
...                                                       ...
     11    18                                      $335.10 oz
           19                                      $334.25 oz
           20                                      $336.10 oz
           23                                      $334.05 oz
           24                                      $334.30 oz
           25                                      $334.35 oz
           26                                      $334.70 oz
           27                                      $334.05 oz
           30                                      $334.20 oz
     12    1                                       $334.65 oz
           2                                       $335.65 oz
           3                                       $335.25 oz
           4                                       $335.60 oz
           7                                       $334.60 oz
           8                                       $335.25 oz
           9                                       $333.50 oz
           10                                      $333.70 oz
           11                                      $335.10 oz
           14                                      $335.20 oz
           15                                      $334.90 oz
           16                                      $337.30 oz
           17                                      $338.65 oz
           18                                      $337.00 oz
           21                                      $333.90 oz
           22                                      $332.60 oz
           23                                      $333.00 oz
           24                                             NaN
           29                                      $332.50 oz
           30                                      $332.90 oz
           31                                             NaN

[254 rows x 2 columns]

In [58]:
gold_92_group=gold_92_group.dropna()

In [59]:
gold_92_group

               Gold Price Fix AM in US dollars per troy ounce  \
year month day
1992 1     2                                       $351.20 oz
           3                                       $352.40 oz
           6                                       $351.15 oz
           7                                       $349.30 oz
           8                                       $350.30 oz
           9                                       $351.75 oz
           10                                      $356.65 oz
           13                                      $354.90 oz
           14                                      $353.40 oz
           15                                      $355.60 oz
           16                                      $354.60 oz
           17                                      $357.30 oz
           20                                      $356.60 oz
           21                                      $357.35 oz
           22                                      $356.85 oz
           23                                      $356.55 oz
           24                                      $354.50 oz
           27                                      $354.85 oz
           28                                      $356.30 oz
           29                                      $355.40 oz
           30                                      $356.50 oz
           31                                      $354.15 oz
     2     3                                       $357.10 oz
           4                                       $356.35 oz
           5                                       $354.95 oz
           6                                       $356.25 oz
           7                                       $355.40 oz
           10                                      $354.70 oz
           11                                      $355.25 oz
           12                                      $356.35 oz
...                                                       ...
     11    16                                      $336.00 oz
           17                                      $333.85 oz
           18                                      $335.40 oz
           19                                      $333.60 oz
           20                                      $335.55 oz
           23                                      $334.25 oz
           24                                      $333.95 oz
           25                                      $334.75 oz
           26                                      $334.65 oz
           27                                      $334.00 oz
           30                                      $333.70 oz
     12    1                                       $334.60 oz
           2                                       $335.10 oz
           3                                       $335.90 oz
           4                                       $335.90 oz
           7                                       $335.50 oz
           8                                       $335.25 oz
           9                                       $333.40 oz
           10                                      $333.90 oz
           11                                      $334.20 oz
           14                                      $335.30 oz
           15                                      $334.70 oz
           16                                      $334.90 oz
           17                                      $337.75 oz
           18                                      $337.15 oz
           21                                      $336.35 oz
           22                                      $334.35 oz
           23                                      $332.55 oz
           29                                      $332.90 oz
           30                                      $332.30 oz

               Gold Price Fix PM in US dollars per troy ounce
year month day
1992 1     2                                       $350.90 oz
           3                                       $353.00 oz
           6                                       $349.40 oz
           7                                       $349.70 oz
           8                                       $350.60 oz
           9                                       $351.55 oz
           10                                      $357.90 oz
           13                                      $353.90 oz
           14                                      $353.60 oz
           15                                      $355.55 oz
           16                                      $356.75 oz
           17                                      $355.90 oz
           20                                      $358.75 oz
           21                                      $357.80 oz
           22                                      $356.75 oz
           23                                      $355.20 oz
           24                                      $353.25 oz
           27                                      $356.10 oz
           28                                      $356.30 oz
           29                                      $354.85 oz
           30                                      $356.00 oz
           31                                      $354.10 oz
     2     3                                       $356.40 oz
           4                                       $356.00 oz
           5                                       $354.30 oz
           6                                       $355.95 oz
           7                                       $356.20 oz
           10                                      $354.65 oz
           11                                      $356.00 oz
           12                                      $357.20 oz
...                                                       ...
     11    16                                      $335.40 oz
           17                                      $334.30 oz
           18                                      $335.10 oz
           19                                      $334.25 oz
           20                                      $336.10 oz
           23                                      $334.05 oz
           24                                      $334.30 oz
           25                                      $334.35 oz
           26                                      $334.70 oz
           27                                      $334.05 oz
           30                                      $334.20 oz
     12    1                                       $334.65 oz
           2                                       $335.65 oz
           3                                       $335.25 oz
           4                                       $335.60 oz
           7                                       $334.60 oz
           8                                       $335.25 oz
           9                                       $333.50 oz
           10                                      $333.70 oz
           11                                      $335.10 oz
           14                                      $335.20 oz
           15                                      $334.90 oz
           16                                      $337.30 oz
           17                                      $338.65 oz
           18                                      $337.00 oz
           21                                      $333.90 oz
           22                                      $332.60 oz
           23                                      $333.00 oz
           29                                      $332.50 oz
           30                                      $332.90 oz

[252 rows x 2 columns]

In [60]:
gold_92_group['Gold Price Fix AM in US dollars per troy ounce'] = gold_92_group['Gold Price Fix AM in US dollars per troy ounce'].str.replace(r"[a-zA-Z]",'')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
gold_92_group['Gold Price Fix AM in US dollars per troy ounce'] = gold_92_group['Gold Price Fix AM in US dollars per troy ounce'].str.replace("$",'')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
gold_92_group['Gold Price Fix PM in US dollars per troy ounce']=gold_92_group['Gold Price Fix PM in US dollars per troy ounce'].str.replace(r"[a-zA-Z]",'')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
gold_92_group['Gold Price Fix PM in US dollars per troy ounce']=gold_92_group['Gold Price Fix PM in US dollars per troy ounce'].str.replace("$",'')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [64]:
gold_92_group.head()

               Gold Price Fix AM in US dollars per troy ounce  \
year month day
1992 1     2                                          351.20
           3                                          352.40
           6                                          351.15
           7                                          349.30
           8                                          350.30

               Gold Price Fix PM in US dollars per troy ounce
year month day
1992 1     2                                          350.90
           3                                          353.00
           6                                          349.40
           7                                          349.70
           8                                          350.60

In [65]:
gold_92_group['Gold Price Fix PM in US dollars per troy ounce']=gold_92_group['Gold Price Fix PM in US dollars per troy ounce'].astype(float)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [66]:
gold_92_group['Gold Price Fix AM in US dollars per troy ounce']=gold_92_group['Gold Price Fix AM in US dollars per troy ounce'].astype(float)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
gold_92_group

                Gold Price Fix AM in US dollars per troy ounce  \
year month day
1992 1     2                                            351.20
           3                                            352.40
           6                                            351.15
           7                                            349.30
           8                                            350.30
           9                                            351.75
           10                                           356.65
           13                                           354.90
           14                                           353.40
           15                                           355.60
           16                                           354.60
           17                                           357.30
           20                                           356.60
           21                                           357.35
           22                                           356.85
           23                                           356.55
           24                                           354.50
           27                                           354.85
           28                                           356.30
           29                                           355.40
           30                                           356.50
           31                                           354.15
     2     3                                            357.10
           4                                            356.35
           5                                            354.95
           6                                            356.25
           7                                            355.40
           10                                           354.70
           11                                           355.25
           12                                           356.35
...                                                        ...
     11    16                                           336.00
           17                                           333.85
           18                                           335.40
           19                                           333.60
           20                                           335.55
           23                                           334.25
           24                                           333.95
           25                                           334.75
           26                                           334.65
           27                                           334.00
           30                                           333.70
     12    1                                            334.60
           2                                            335.10
           3                                            335.90
           4                                            335.90
           7                                            335.50
           8                                            335.25
           9                                            333.40
           10                                           333.90
           11                                           334.20
           14                                           335.30
           15                                           334.70
           16                                           334.90
           17                                           337.75
           18                                           337.15
           21                                           336.35
           22                                           334.35
           23                                           332.55
           29                                           332.90
           30                                           332.30

                Gold Price Fix PM in US dollars per troy ounce
year month day
1992 1     2                                            350.90
           3                                            353.00
           6                                            349.40
           7                                            349.70
           8                                            350.60
           9                                            351.55
           10                                           357.90
           13                                           353.90
           14                                           353.60
           15                                           355.55
           16                                           356.75
           17                                           355.90
           20                                           358.75
           21                                           357.80
           22                                           356.75
           23                                           355.20
           24                                           353.25
           27                                           356.10
           28                                           356.30
           29                                           354.85
           30                                           356.00
           31                                           354.10
     2     3                                            356.40
           4                                            356.00
           5                                            354.30
           6                                            355.95
           7                                            356.20
           10                                           354.65
           11                                           356.00
           12                                           357.20
...                                                        ...
     11    16                                           335.40
           17                                           334.30
           18                                           335.10
           19                                           334.25
           20                                           336.10
           23                                           334.05
           24                                           334.30
           25                                           334.35
           26                                           334.70
           27                                           334.05
           30                                           334.20
     12    1                                            334.65
           2                                            335.65
           3                                            335.25
           4                                            335.60
           7                                            334.60
           8                                            335.25
           9                                            333.50
           10                                           333.70
           11                                           335.10
           14                                           335.20
           15                                           334.90
           16                                           337.30
           17                                           338.65
           18                                           337.00
           21                                           333.90
           22                                           332.60
           23                                           333.00
           29                                           332.50
           30                                           332.90

[252 rows x 2 columns]

In [68]:
gold_92_group.dtypes

Gold Price Fix AM in US dollars per troy ounce    float64
Gold Price Fix PM in US dollars per troy ounce    float64
dtype: object

In [69]:
gold_92_group.to_csv('gold_92')

In [52]:
gold_92_group.index[0][2]

1992